@import url("./reset.css");
:root {
    --primary-button: rgb(0, 149, 246;);
    --maincolor: rgb(0, 55, 107);
    --primary-color: rgb(0, 0, 0);
    --feed-sidebar-width: 338px;
    /* --border-box : {
        border: 1px solid #dbdbdb;
    } */

    /* --over-text {
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    } */
}
.logo__wrap {
    padding: 25px 12px 16px;
}
.logo__wrap .pc {
    display: none;
}
.logo__wrap .mobile {
    display: none;
}
.page__main {
    width: 100%;
    display: flex;
    overflow: hidden;
}
.main__contents {
    max-width: 630px;
    padding: 20px;
}
.main__contents-wrap {
    /* margin-left: auto; */
}
.main__contents-inner {
    display: flex;
    justify-content: center;
}
.more__link-list {
}
.more__link-item {
    margin-bottom: 4px;
}
.more__link {
    display: flex;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}
.more__link svg {
    margin-right: 12px;
}
.sideBar {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
    height: 100%;
    height: 100vh;
    padding: 8px 12px 20px;
}
.more__link-bottom {
    margin-top: auto;
}
a svg:hover {
    fill: red;
}
a svg {
}
a svg:hover {
}
.user__profile {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid;
    /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple); */
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
    border-image-slice: 1;
}
.story__list {
    display: flex;
    margin-bottom: 24px;
}
.story__item {
    max-width: 64px;
    margin-right: 12px;
    white-space: nowrap;
}
.story__wrap {
    text-align: center;
}
.story__user-profile {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #dbdbdb;
    background-size: 100% 100%;
    background-image: url(../images/user_default.jpg);
}
.story__user-name {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*peed 영역 */
.peed-wrap__container {
}
.peed-wrap {
    min-width: 470px;
    width: 100%;
    margin-bottom: 16px;
}
.peed-user__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.peed-user__profile {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-right: 11px;
    background: #dbdbdb;
    border-radius: 50%;
    background-image: url(../images/user_default.jpg);
    background-size: 100% 100%;
}
.peed-user__inner {
    margin-right: auto;
}
.peed-user__id {
    font-size: 14px;
    font-weight: 700;
}
.peed-user__update {
    font-size: 14px;
    color: #737373;
}
.peed-user__update::before {
    display: inline-block;
    content: "·";
    margin-left: 2px;
    margin-right: 2px;
}
.peed-user__info {
    font-size: 12px;
}
.peed-user__btn--favorite {
    padding: 4px;
    cursor: pointer;
}
.peed-user__btn--more {
}
.peed-photo__wrap {
    width: 468px;
    margin-bottom: 14px;
}
.peed-photo__wrap img {
    width: 100%;
}
.peed-reaction__wrap {
    margin-bottom: 14px;
    height: 24px;
}
.peed-reaction__inner {
}
.peed-reaction__item {
    margin-right: 18px;
}
.peed-reaction__item:last-child {
    margin-right: initial;
}
.peed-reaction__item.reaction--bookmark {
    margin-left: auto;
}
.peed-reaction__number--txt {
}
.peed-reaction__number {
}
.peed-content__wrap {
}
.peed-content__id {
}
.peed-content__text {
    display: inline-block;
}
.peed-like__wrap {
    font-size: 14px;
    font-weight: 700;
}
.peed-like__id {
}
.peed-like__text {
}
.peed-comment__wrap {
}
.peed-comment__link--more {
}
.peed-comment__box {
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.peed-comment__box textarea {
    width: 90%;
    border: none;
    outline: none;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤바 숨김 */
    resize: none; /* 사용자가 수동으로 크기 조절하지 못하게 함 */
}
/*recommand 영역*/
.my-account__wrap {
    display: flex;
    vertical-align: middle;
    align-items: center;
    padding: 0 16px;
}
.my-account__link {
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.my-account__user-profile {
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-right: 11px;
    background: #dbdbdb;
    border-radius: 50%;
    background-image: url(../images/user_default.jpg);
    background-size: 100% 100%;
}
.my-account__user-name {
}
.recommand__user-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    padding: 0 16px;
}
.recommand__user-tle {
    font-size: 14px;
    font-weight: bold;
    color: rgb(115, 115, 115);
}
.recommand__user-link--all {
    font-size: 14px;
    font-weight: bold;
}
.my-account__btn-change {
    font-weight: bold;
    margin-left: auto;
    color: #0095f6;
}
.recommand {
    margin-top: 36px;
    margin-left: 64px;
    height: 100vh;
    /* width: 338px; */
    width: var(--feed-sidebar-width);
}
.recommand__user__container {
    margin-top: 24px;
}
.recommand__user-list {
    padding: 8px 0;
}
.recommand__user-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
.recommand__user-link {
}
.recommand__user-profile {
    display: block;
    width: 46px;
    height: 46px;
    background: #dbdbdb;
    border-radius: 50%;
    margin-right: 14px;
}
.recommand__user-wrap {
    width: 175px;
    max-width: 175px;
    margin-right: 12px;
    white-space: nowrap;
}
.recommand__user-text {
    font-size: 12px;
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recommand__user-btn {
    font-weight: bold;
    color: #0095f6;
}
.recommand__user-btn:hover {
    color: #222;
}
.main-footer {
    font-size: 12px;
    margin-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(119, 119, 119);
}
.main-footer__top {
    margin-bottom: 16px;
    word-break: keep-all;
}
.main-footer__link {
}
.main-footer .copywrite {
    font-size: 12px;
}
@media (max-width: 1264px) {
    .sideBar {
        max-width: 72px;
    }
    .more__link-text {
        display: none;
    }
    .more__link svg {
        margin: 0;
    }
    .logo__wrap svg {
        display: none;
    }
    .logo__wrap .mobile {
        display: block;
    }
}
@media (max-width: 1159px) {
    .recommand {
        display: none;
    }
}

@media (max-width: 767px) {
    .page__main {
        flex-direction: column;
    }
    .sideBar {
        display: none;
        max-width: 100%;
        flex-direction: row;
        height: auto;
    }
    .more__link-list {
        display: flex;
    }
    .logo__wrap {
        padding: 0;
    }
    /* main content __peed*/
    .main__contents {
        max-width: 100%;
        padding: 0;
    }
    .main__contents-wrap {
        /* margin-left: auto; */
    }
    .main__contents-inner {
        display: flex;
        justify-content: center;
    }
    .more__link-list {
    }
    .more__link-item {
        margin-bottom: 4px;
    }
    .more__link {
        display: flex;
        padding: 12px;
        text-align: left;
        vertical-align: middle;
    }
    .more__link svg {
        margin-right: 12px;
    }
    .user__profile {
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 12px;
        border: 1px solid;
        /* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple); */
        border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, purple);
        border-image-slice: 1;
    }
    .story__list {
        padding: 8px;
        border-top: 1px solid rgb(219, 219, 219);
        border-bottom: 1px solid rgb(219, 219, 219);
        margin-bottom: 0;
    }
    .story__item {
    }
    .story__wrap {
    }
    .story__user-profile {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: #dbdbdb;
        background-size: 100% 100%;
        background-image: url(../images/user_default.jpg);
    }
    .story__user-name {
        font-size: 12px;
        display: inline-block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
